<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>A to-do list app is a productivity tool designed to help users organize and manage their tasks and
        responsibilities. With a to-do list app, users can create, prioritize, and track their tasks, set reminders, and
        stay on top of deadlines.</p>

    <%- include("footer") -%>